body {
  margin: 0 ;
  background: url('p5_bg_2.jpg') no-repeat bottom right 25%;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height:100vh;
  overflow-x: hidden;
  width:100%
}
header {
  color: white;
  max-width: 400px;
}
