</doctype html>
<html>
<head>
   <title> Muhtasim's Webpage/title>
  </head>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine">
    </head>
  <style>
  <body>
  body{
    font-family: "Tangerine", serif;
    font-size: 48px;

  }
  h1 {
    color:white;
    text-align:center;
    font-family: "Tangerine", serif;
    font-size: 48px;





  </style>
  </body>
  </html>
